#input-wrapper{
    width: 100%;
    height: 55px;
    display: flex; 
    justify-content: space-between;  
    margin: 35px 0;
}
#input-wrapper input{
    background-color: rgba(0, 0, 0, 0.724);
    width: 76%;
    color: aliceblue;
    border: 0.7px solid rgba(195, 191, 191, 0.558);
    padding: 3px 0 0 20px ;
}
#input-wrapper button{
    width: 22.5%;
    background-color: rgb(240, 105, 105);
    color: white;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
#input-wrapper button:hover{
    background-color: rgb(240, 105, 105, 0.8);
}

